/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Manrope:wght@600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
.editorial-shadow {
    box-shadow: 0 12px 40px -4px rgba(26, 27, 34, 0.06);
}
.primary-gradient {
    background: linear-gradient(135deg, #24389c 0%, #3f51b5 100%);
}
.glass-header {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}
